footer {
  vertical-align: baseline;
  transition: left 0.4s ease-in;
  background: #34383b;
  font-weight: 300;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .page-footer-copyright {
  border-top: 1px solid;
  text-align: center;
  background: transparent;
  border-top: 1px solid #f8f8f8;
  color: #f8f8f8;
  display: inline-flex;
}
footer .page-footer-copyright a {
  font-size: 0.8571rem;
  color: #f8f8f8;
  line-height: 55px;
  height: 55px;
  text-decoration: none;
  margin-right: 10px;
}

footer .page-footer-copyright p {
  margin: 0;
}

footer .page-footer-copyright > p:first-child {
  margin-bottom: 0.5714rem;
}

footer .page-footer-copyright > p:last-child a {
  color: var(--theme-color, #155bd4);
}
