.app-nav.no-badge {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: var(--content-width);
  margin: 0px auto;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  background: #ffffff;
  height: 50px;
  box-sizing: content-box;
  text-align: center;
}
.app-nav.no-badge .nav-menu {
  left: 250px;
  width: var(--main-content-width);
  position: absolute;
  height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  zoom: 1;
}
.nav-search {
  margin-top: 5px;
}
.app-nav.no-badge .nav-header {
  width: 250px;
  height: 50px;
  float: left;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.app-nav.no-badge .nav-header .docs-logo {
  left: 0px;
  width: 118px;
  height: 28px;
  margin: 11px 0px;
  position: absolute;
  background: url(https://files.lifesense.com/other/20211215/0c4dff78e1c5485c87e83c1c2dcb3f9d.png)
    center center no-repeat;
  background-size: 100%;
  border-bottom: none;
}
.app-nav.no-badge .nav-header .docs-logo-title {
  float: right;
  height: 28px;
  line-height: 28px;
  margin: 12px;
  font-size: 18px;
  font-weight: 900;
  font-family: cursive;
  color: var(--theme-color, #155bd4);
}
.app-nav.no-badge .nav-right {
  display: inline-flex;
  width: 250px;
  height: 50px;
  position: fixed;
  right: 0px;
  position: absolute;
}
.app-nav.no-badge .nav-right .nav-menu-collapse {
  display: none;
}

.app-nav.no-badge
  .nav-right
  .nav-search
  .search
  input::-webkit-search-decoration,
.app-nav.no-badge
  .nav-right
  .nav-search
  .search
  input::-webkit-search-cancel-button,
.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.app-nav.no-badge .nav-menu ul > li {
  display: inline-block;
  position: relative;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #142655;
}

.app-nav.no-badge .nav-menu li ul {
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0.125rem 0.75rem 0 rgb(0 0 0 / 10%);
  box-shadow: 0 0.125rem 0.75rem 0 rgb(0 0 0 / 10%);
  border: 0.0625rem solid #ebeef5;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  padding-top: 10px;
  white-space: nowrap;
}
.app-nav.no-badge .nav-menu ul > li > ul > li {
  display: block;
}

.app-nav.no-badge .nav-menu ul a,
i {
  display: block;
  padding-top: 5px;
  line-height: 30px;
  padding-bottom: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #142655;
}

.app-nav.no-badge .nav-menu > ul > li i {
  padding-top: 13px;
  padding-left: 5px;
}
.app-nav.no-badge .nav-menu > ul > li > ul {
  min-width: 150px;
  right: -50px;
}

.app-nav.no-badge .nav-menu > ul > li > ul > li {
  line-height: 30px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  /* border-bottom: 0.5px solid #efefef; */
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a {
  line-height: 30px;
  margin: 0px;
  padding: 2px 20px;
  font-weight: normal;
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a.active {
  color: var(--theme-color, #155bd4);
  border-bottom: none;
}

.app-nav.no-badge .nav-menu > ul > li a.active {
  color: var(--theme-color, #155bd4);
  border-bottom: 3px solid var(--theme-color, #155bd4);
}

.app-nav.no-badge .nav-menu > ul > li a:hover {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  border-bottom: 2px solid var(--theme-color, #155bd4);
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a:hover {
  color: var(--theme-color, #155bd4);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: #ffffff;
  border-bottom: none;
}
.app-nav.no-badge .nav-menu > ul > li > ul > li a {
  line-height: 30px;
  margin: 0px;
  padding: 2px 20px;
  font-weight: normal;
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a.active {
  color: var(--theme-color, #155bd4);
  border-bottom: none;
}

.app-nav.no-badge .nav-menu > ul > li a.active {
  color: var(--theme-color, #155bd4);
  border-bottom: 2px solid var(--theme-color, #155bd4);
}

.app-nav.no-badge .nav-menu > ul > li a:hover {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  border-bottom: 2px solid var(--theme-color, #155bd4);
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a:hover {
  color: var(--theme-color, #155bd4);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: #ffffff;
  border-bottom: none;
}

[data-page*='home'] .app-nav.no-badge .nav-menu > ul > li:nth-child(1) > a,
[data-page*='hardware'] .app-nav.no-badge .nav-menu > ul > li:nth-child(2) > a,
[data-page*='product'] .app-nav.no-badge .nav-menu > ul > li:nth-child(3) > a,
[data-page*='develop-native']
  .app-nav.no-badge
  .nav-menu
  > ul
  > li:nth-child(4)
  > a,
[data-page*='dev-'] .app-nav.no-badge .nav-menu > ul > li:nth-child(4) > a,
[data-page*='develop-cloud']
  .app-nav.no-badge
  .nav-menu
  > ul
  > li:nth-child(5)
  > a,
[data-page*='solution'] .app-nav.no-badge .nav-menu > ul > li:nth-child(6) > a,
[data-page*='FAQ'] .app-nav.no-badge .nav-menu > ul > li:nth-child(7) > a {
  color: var(--theme-color, #155bd4);
  border-bottom: 3px solid var(--theme-color, #155bd4);
}
.search .input-wrap {
  display: flex;
  align-items: center;
  width: 240px;
  line-height: 40px;
  margin: 5px 0px;
  transition: width 0.15s ease;
  background-color: #fafbff;
  padding-left: 5px;
  /* border: 0.5px solid #e5e5e5; */
}
/* .search .input-wrap:focus-within {
  border: 0.5px solid var(--theme-color, #155bd4);
} */
.search .input-wrap i {
  color: #505d6b;
  padding: 12.5px;
}
.search input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #fafbff;
  line-height: 40px;
  font-size: 14px;
  padding: 0 5px;
}
.search .clear-button {
  cursor: pointer;
  width: 36px;
  text-align: right;
  display: none;
}
.search .search-button {
  font-size: 16px;
  border: 0.5px solid #fafbff;
  border-radius: 0 4px 4px 0;
  background: var(--theme-color, #155bd4);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search .search-button i {
  color: #fff;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}
.search .clear-button.show {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.search .clear-button svg {
  transform: scale(0.5);
}
.search h2 {
  font-size: 17px;
  margin: 10px 0;
}
.search a {
  text-decoration: none;
  color: inherit;
}
.search p {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search p.empty {
  text-align: center;
}
