build
.gradle
out
*.ipr
/target
/.settings
/.classpath
/.project
/target/
.DS_Store
*.iml
*.bat
.classpath
.project
.settings/
target/*.iml
.idea
target/
bin/
*.versionsBackup
*/.factorypath
.factorypath
