:root {
  --side-width: 250px;
  --sidebar-bg: #f8f8fa;
  --sidebar-h1-font-size: 14px;
  --sidebar-h1-font-weight: 700;
  --sidebar-h1-font-color: #333;

  --sidebar-h2-font-size: 13px;
  --sidebar-h2-font-color: #142655;

  --content-width: 1250px;
  --main-content-width: 750px;
  --content-anchors-bg: #fff;
  --content-anchors-width: 250px;
}
