[data-page*='search'] .sidebar {
  display: none;
}
[data-page*='search'] .content {
  margin-left: 0px;
}
[data-page*='search'] .content .markdown-section {
  max-width: 100%;
  margin: auto;
  padding: 0px;
}
.search-page {
  margin: 0 auto;
  width: 1080px;
  min-width: 1080px;
  height: auto;
  min-height: 600px;
  clear: both;
}
.search-page .search-nav {
  float: left;
  padding-top: 40px;
}
.search-page .search-nav .search-page-search .input-wrap {
  width: 200px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #c3cad9;
  box-sizing: border-box;
}
.icon__search::before {
  content: '\E096';
  display: inline-block;
}
.search-nav > ul {
  border-right: 1px solid #e1e6f0;
  box-sizing: border-box;
  list-style: none;
}
.search-nav > ul li {
  height: 30px;
  margin: 8px 0;
  padding-right: 22px;
  font-size: 16px;
  line-height: 24px;
}
.search-nav > ul li a {
  color: #7a8ba6;
  text-decoration: none;
  cursor: pointer;
}
.search-nav > ul li a i {
  margin-right: 10px;
  vertical-align: 0;
  font-family: ucicon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search-content {
  width: 840px;
  margin-left: 200px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-left: 40px;
}
.search-result-text {
  margin-bottom: 40px;
  font-size: 14px;
  color: #7a8ba6;
}
.search-no-result {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #374567;
}
.search-no-result .no-result-img {
  display: block;
  width: 68px;
  height: 68px;
  margin: 84px auto 24px auto;
  background: url(https://static.ucloud.cn/fceea61….png);
  background-size: cover;
}
.search-no-result a {
  color: #3860f4;
}
