.icon-arrow,
.icon-link {
  width: 1rem;
  height: 1rem;
}

.sidebar-nav > ul > li > ul li {
  font-size: 90%;
}

.sidebar-nav > ul > li > ul .active > a {
  border-right: 0.3râˆem solid #27ae60;
  background: #edfbf3;
  color: #27ae60;
  font-weight: 700;
}

.sidebar-nav > ul > li > p {
  font-weight: 700;
}

.sidebar-nav > ul > li > p > a {
  display: initial;
  font-weight: 700;
  color: inherit;
}

.icon-arrow {
  transition: all 0.2s;
}

.icon-arrow-down {
  transform: rotate(90deg);
}

.icon-arrow-right {
  transform: rotate(0);
}

.first-title {
  cursor: pointer;
}

.first-title.active {
  color: #27ae60;
}

pre[data-lang] {
  border-radius: 10px;
  background: #282c34;
  color: #fff !important;
}

pre[data-lang] code {
  background: inherit;
  color: inherit;
  font-size: 0.85em;
}

pre[data-lang] code .attr-name,
pre[data-lang] code .keyword,
pre[data-lang] code .namespace {
  color: #cc99cd;
}

pre[data-lang] code .tag {
  color: #e2777a;
}

pre[data-lang] code .operator {
  color: #67cdcc;
}

pre[data-lang] code .punctuation {
  color: #85cbdd;
}

pre[data-lang] code .property {
  color: #f8c555;
}

pre[data-lang] code .attr-value {
  color: #acd875;
}

.custom {
  margin: 20px 0;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.custom > p {
  margin: 0.4rem 0;
}

.custom > p:first-child {
  font-size: 120%;
  font-weight: 500;
}

.custom-tip {
  border-left: 0.5rem solid #2ecc71;
  background: #d1f5e0;
  color: #1b7943;
}

.custom-warning {
  border-left: 0.5rem solid #f1c40f;
  background: #fcf3d0;
  color: #927608;
}

.custom-danger {
  border-left: 0.5rem solid #e74c3c;
  background: #fbdedb;
  color: #a82315;
}

body {
  font-family: 'PingFang SC', 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1',
    'Microsoft Yahei', tahoma, arial, '\5B8B\4F53';
}
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.lzc-loading {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.lzc-loading .lzc-loading-img {
  background: url(https://cdn.leshiguang.com/leshiguang/favicon.ico) center
    center no-repeat;
  background-size: cover;
  background-position: center center;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.lzc-loading .lzc-loading-wrapper {
  font-size: 10px;
  margin: 30% auto;
  text-indent: -9999em;
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 8px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  background: #fff;
  background: -moz-linear-gradient(
    left,
    var(--theme-color, #155bd4) 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--theme-color, #155bd4) 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--theme-color, #155bd4) 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--theme-color, #155bd4) 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--theme-color, #155bd4) 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.lzc-loading .lzc-loading-wrapper:before,
.lzc-loading .lzc-loading-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.lzc-loading .lzc-loading-wrapper:before {
  width: 50%;
  height: 50%;
  background: var(--theme-color, #155bd4);
  border-radius: 100% 0 0 0;
}
.lzc-loading .lzc-loading-wrapper:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  margin: auto;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.app-nav.no-badge {
  border-bottom: 1px solid #eee;
  position: fixed;
  background: #ffffff;
  height: 50px;
  box-sizing: content-box;
  margin: 0;
  width: calc(100%);
  text-align: center;
  margin-right: 0;
  right: 0;
}

.app-nav.no-badge .nav-right {
  float: right;
  display: inline-flex;
  margin-right: 20px;
}
.search .input-wrap {
  display: flex;
  align-items: center;
  width: 160px;
  line-height: 36px;
  margin-top: 5px;
  transition: width 0.15s ease;
  background-color: #fafbff;
  border: 0.5px solid #e5e5e5;
}
.search .input-wrap:focus-within {
  border: 0.5px solid var(--theme-color, #155bd4);
}
.search .input-wrap i {
  color: #505d6b;
  padding: 0 10px;
}
.search input {
  outline: none;
  border: none;
  width: 100%;
  background-color: #fafbff;
  line-height: 36px;
  font-size: 14px;
  padding: 0 10px;
}
.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search .clear-button {
  cursor: pointer;
  width: 36px;
  text-align: right;
  display: none;
}
.search .clear-button.show {
  position: relative;
  display: inline-block;
  line-height: 1;
}
.search .clear-button svg {
  transform: scale(0.5);
}
.search h2 {
  font-size: 17px;
  margin: 10px 0;
}
.search a {
  text-decoration: none;
  color: inherit;
}
.search p {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.search p.empty {
  text-align: center;
}

.app-nav.no-badge .nav-header {
  float: left;
  min-width: 250px;
  min-height: 50px;
  justify-content: space-between;
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
}

.app-nav.no-badge .nav-header .docs-logo {
  position: fixed;
  width: 140px;
  height: 60px;
  left: 40px;
  top: -6px;
  background: url(https://cdn.leshiguang.com/leshiguang/chaosconsole/assets/img/logo.ff1db55.ff1db55b.png)
    center center no-repeat;
  background-size: 100%;
  border-bottom: none;
}

.app-nav.no-badge .nav-menu {
  float: left;
  height: 60px;
}
.app-nav.no-badge .nav-right .nav-menu-collapse {
  display: none;
}
.app-nav.no-badge .nav-menu ul > li {
  display: inline-block;
  position: relative;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #142655;
}

.app-nav.no-badge .nav-menu ul > li > ul > li {
  display: block;
}

.app-nav.no-badge .nav-menu ul a,
i {
  display: block;
  padding-top: 5px;
  line-height: 30px;
  padding-bottom: 5px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #142655;
}

.app-nav.no-badge .nav-menu > ul > li i {
  padding-top: 13px;
  padding-left: 5px;
}
.app-nav.no-badge .nav-menu > ul > li > ul {
  min-width: 150px;
  right: -50px;
}

.app-nav.no-badge .nav-menu > ul > li > ul > li {
  line-height: 30px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  /* border-bottom: 0.5px solid #efefef; */
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a {
  line-height: 30px;
  margin: 0px;
  padding: 2px 20px;
  font-weight: normal;
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a.active {
  color: var(--theme-color, #155bd4);
  border-bottom: none;
}

.app-nav.no-badge .nav-menu > ul > li a.active {
  color: var(--theme-color, #155bd4);
  border-bottom: 2px solid var(--theme-color, #155bd4);
}

.app-nav.no-badge .nav-menu > ul > li a:hover {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  border-bottom: 2px solid var(--theme-color, #155bd4);
}

.app-nav.no-badge .nav-menu > ul > li > ul > li a:hover {
  color: var(--theme-color, #155bd4);
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: #ffffff;
  border-bottom: none;
}

.sidebar {
  background-color: #fafbff;
  width: 250px;
  position: fixed;
  top: 10px;
}

.sidebar .sidebar-title {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #efefef;
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: 10px 15px;
  font-weight: 300;
  font-size: 27px;
  color: #999;
}
.sidebar .sidebar-title i {
  margin-right: 10px;
}
.sidebar .sidebar-title a {
  float: right;
  padding-right: 9px;
  cursor: pointer;
}
.sidebar .sidebar-nav > ul {
  margin: 0px;
}
.sidebar .sidebar-nav ul {
  position: relative;
}
.sidebar .sidebar-nav ul li > ul {
  display: none;
}
.sidebar .sidebar-nav ul li > a {
  font-size: 14px;
  padding: 9px 20px;
  line-height: 16px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 12px;
}
.sidebar .sidebar-nav ul li a:hover {
  cursor: pointer;
}
.sidebar .sidebar-nav ul li > a > i {
  float: right;
  line-height: 3px;
}
.sidebar .sidebar-nav > ul > li {
  color: #142655;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.sidebar .sidebar-nav > ul > li a:hover {
  text-decoration: none;
}

.sidebar .sidebar-nav ul > li.active > ul {
  display: block;
}
.sidebar .sidebar-nav ul li.active > a {
  border-right: 0px;
}
.sidebar-nav > ul > li > ul > li a {
  position: relative;
  line-height: 1.375em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  white-space: normal;
}
.sidebar .sidebar-nav > ul > li > ul > li,
.sidebar .sidebar-nav > ul > li > ul > li a {
  color: #142655;
  font-size: 0.8rem;
  font-weight: normal;
}
.sidebar .sidebar-nav > ul > li > ul > li > ul > li,
.sidebar .sidebar-nav > ul > li > ul > li > ul > li a {
  font-size: 0.6rem;
  font-weight: normal;
}
.sidebar ul li.active > a {
  color: var(--theme-color, #155bd4);
  font-weight: bold;
}
.sidebar-nav li.active > ul > li.active-noview > a {
  background-color: transparent;
}
.sidebar-nav li.active > ul > li.active:not(.active-noview) > a,
.sidebar-nav li.active > ul > li.active > ul > li.active > a {
  border: 0.5px solid #eee;
  content: '';
  border-right: 0px;
  background: #ffffff;
  color: var(--theme-color, #155bd4);
  font-weight: 700;
}

.sidebar-nav li.active > ul > li.active:not(.active-noview)::before,
.sidebar-nav li.active > ul > li.active > ul > li.active::before {
  position: absolute;
  left: -4px;
  /* top: 10px; */
  display: block;
  width: 4px;
  height: 44px;
  background: var(--theme-color, #155bd4);
  content: '';
}

.sidebar-nav > ul li:not(.active) > a:hover {
  background: #e4edf7;
}
[data-page*='home'] .app-nav.no-badge .nav-menu > ul > li:nth-child(1) > a,
[data-page*='hardware'] .app-nav.no-badge .nav-menu > ul > li:nth-child(2) > a,
[data-page*='product'] .app-nav.no-badge .nav-menu > ul > li:nth-child(3) > a,
[data-page*='develop-native']
  .app-nav.no-badge
  .nav-menu
  > ul
  > li:nth-child(4)
  > a,
[data-page*='dev-']
  .app-nav.no-badge
  .nav-menu
  > ul
  > li:nth-child(4)
  > a,
[data-page*='develop-cloud']
  .app-nav.no-badge
  .nav-menu
  > ul
  > li:nth-child(5)
  > a,
[data-page*='solution'] .app-nav.no-badge .nav-menu > ul > li:nth-child(6) > a,
[data-page*='FAQ'] .app-nav.no-badge .nav-menu > ul > li:nth-child(7) > a {
  color: var(--theme-color, #155bd4);
  border-bottom: 2px solid var(--theme-color, #155bd4);
}
.content {
  transition: margin-left 0.4s ease-in;
  display: flex;
  left: 250px;
}
.content .content-anchors ul {
  padding-left: 8px;
  text-align: left;
  border-left: 4px solid #f2f3f5;
}

.content .content-anchors {
  position: fixed;
  top: 50px;
  color: #323233;
  background: #fff;
  opacity: 0.7;
  float: right;
  right: 0;
  max-width: 200px;
}
.content .content-anchors.hide {
  display: none;
}

.content .content-anchors ul {
  padding-left: 8px;
  text-align: left;
  border-left: 4px solid #f2f3f5;
}

.content .content-anchors ul li {
  padding: 16px 16px 0;
  font-size: 14px;
  list-style-type: none;
  position: relative;
}

.content .content-anchors ul li:first-child {
  margin-top: 0;
}

.content .content-anchors ul li:last-child {
  padding-bottom: 16px;
}

.content .content-anchors ul li a {
  color: #999;
  text-decoration: none;
}

.content .content-anchors ul {
  position: relative;
}

.content .content-anchors ul .active a {
  color: var(--theme-color, #155bd4);
}

.content .content-anchors ul .active:before {
  position: absolute;
  left: -12px;
  top: 10px;
  display: block;
  width: 4px;
  height: 32px;
  background: var(--theme-color, #155bd4);
  content: '';
}
.content .search-results.show {
  margin: auto;
  padding: 20px 20px 50px 20px;
  min-height: calc(100vh - 60px);
  position: relative;
  font-size: 15px;
  max-width: 80%;
}
.content .search-results.show .matching-post {
  border-bottom: 1px solid #efefef;
}
.content .search-results.show .matching-post a {
  text-decoration: none;
  color: #142655;
}
.content .search-results.show .matching-post a h2 {
  font-size: 18px;
}
.content .search-results.show .matching-post p,
.content .search-results.show .matching-post p > a {
  text-decoration: none;
  color: #142655;
  font-size: 12px;
}
.content .search-results.show .matching-post .search-keyword {
  color: red;
}
footer {
  color: #fff;
  bottom: 0;
  left: 250px;
  vertical-align: baseline;
  transition: left 0.4s ease-in;
  font-weight: 300;
  width: 100%;
}
footer .page-footer-copyright {
  border-top: 1px solid;
  text-align: center;
  background: transparent;
  border-top: 1px solid #e5e5e5;
  color: #666;
}
footer .page-footer-copyright a {
  font-size: 0.8571rem;
  color: rgba(52, 73, 94, 0.3);
  line-height: 55px;
  height: 55px;
  text-decoration: none;
  margin-right: 10px;
}

footer .page-footer-copyright p {
  margin: 0;
}

footer .page-footer-copyright > p:first-child {
  margin-bottom: 0.5714rem;
}

footer .page-footer-copyright > p:last-child a {
  color: var(--theme-color, #155bd4);
}
