.markdown-section {
  padding: 14px 40px;
  max-width: 1060px;
  min-height: calc(100vh - 60px);
  position: relative;
  font-size: 15px;
  width: 100%;
  margin: auto;
}
.markdown-section .toptool {
  position: absolute;
  right: 10%;
  top: 35px;
  font-size: 14px;
}
.markdown-section .toptool a {
  color: #526075;
}
.markdown-section > * {
  box-sizing: border-box;
  font-size: inherit;
}
.markdown-section > h1:first-of-type {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.markdown-section.hide {
  display: none;
}
.markdown-section p {
  line-height: 2;
  word-spacing: 0.05rem;
  color: #526075;
  font-size: 13px;
}
.markdown-section hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}

.markdown-section iframe {
  border: 1px solid #eee;
  margin: 1em 0;
  width: 1px;
  min-width: 100%;
}

.markdown-section table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
}

.markdown-section th {
  font-weight: 700;
}

.markdown-section td,
.markdown-section th {
  border: 1px solid #ddd;
  padding: 8px 12px;
}

.markdown-section tr {
  border-top: 1px solid #ccc;
}

.markdown-section p.tip,
.markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown-section p.tip {
  position: relative;
  border-left: none;
  color: #24292e;
  margin: 2em 0;
  padding: 8px 24px 8px 56px;
  background-color: #fffce5;
  border-top: 2px solid #f9ce1d;
  border-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  /* padding: 12px 24px 12px 30px; */
}

.markdown-section p.tip:before {
  background-color: #f9ce1d;
  border-radius: 100%;
  color: #fff;
  content: '!';
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: 24px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
  /* background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: '!';
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px; */
}

.markdown-section p.tip code {
  background-color: #efefef;
}

.markdown-section p.tip em {
  color: #24292e;
  color: #34495e;
}

.markdown-section p.warn {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 1rem;

  background: rgba(66, 185, 131, 0.1);
  padding: 1rem;
  color: #24292e;
  background-color: #edfff2;
  border-top: 2px solid #4cd964;
  border-radius: 2px;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  color: #2c3e50;
  font-weight: 600;
}
.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section strong a {
}

.markdown-section a {
  color: var(--theme-color, #155bd4);
  font-weight: 600;
}
.markdown-section h1 {
  font-size: 25px;
  line-height: 48px;
  margin: 0 0 16px;
}

.markdown-section h2 {
  font-size: 20px;
  padding: 0 0 24px 0px;
}


.markdown-section h2 a.anchor span {
  color: #24292e;
}

.markdown-section h3 {
  padding: 0 0 12px 0;
  color: #24292e;
  font-size: 18px;
}

.markdown-section h3 a.anchor {
  font-weight: 400;
}

.markdown-section h3 a.anchor span {
  color: #24292e;
}

.markdown-section h4 {
  font-size: 15px;
}

.markdown-section h4 a.anchor {
  font-weight: 500;
}

.markdown-section h4 a.anchor span {
  color: #24292e;
}

.markdown-section h5 {
  font-size: 1rem;
}

.markdown-section h6 {
  color: #777;
  font-size: 1rem;
}

.markdown-section figure,
.markdown-section p {
  margin: 1.2em 0;
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}

.markdown-section ol,
.markdown-section ul {
  padding-left: 40px;
}

.markdown-section ul {
  line-height: 2;
}

.markdown-section ol {
  line-height: 2;
  font-size: 15px;
  color: #526075;
}

.markdown-section blockquote {
  /* border-left: 4px solid var(--theme-color, #155bd4);
  color: #858585;
  margin: 2em 0;
  padding-left: 20px; */
  color: #24292e;
  margin: 2em 0;
  padding: 8px 24px 8px 24px;
  background-color: #f9faff;
  border-top: 2px solid var(--theme-color, #155bd4);
  border-radius: 2px;
  border-left: none;
}

.markdown-section blockquote p {
  /* font-weight: 600;
  margin-left: 0; */

  font-weight: 400;
  margin-left: 0;
  color: #24292e;
  text-align: justify;
}

.markdown-section em {
  color: #7f8c8d;
}

.markdown-section code {
  border-radius: 2px;
  color: #e96900;
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}

.markdown-section code,
.markdown-section pre {
  background-color: #f8f8f8;
  font-family: Roboto Mono, Monaco, courier, monospace;
}

.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}
.markdown-section pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: Roboto Mono, Monaco, courier, monospace;
  font-size: 0.8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
}

.markdown-section code:after,
.markdown-section code:before {
  letter-spacing: 0.05rem;
}

body.close .markdown-section {
  margin: 0 auto;
}

.markdown-section ul.task-list > li {
  list-style-type: none;
}
.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: hidden;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
  background-color: #f6f6fb;
  border: 1px solid #e1e6f0;
  border-radius: 2px;
}

.markdown-section pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f6f6fb;
  border-radius: 2px;
  color: #526075;
  display: block;
  font-family: Roboto Mono, Monaco, courier, monospace;
  font-size: 13px;
  line-height: 2;
  margin: 0 2px;
  max-width: inherit;
  overflow: auto;
  padding: 2.2em 5px;
  white-space: inherit;
}

.markdown-section code:after,
.markdown-section code:before {
  letter-spacing: 0.05rem;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8e908c;
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.number {
  color: #c76b29;
}

.token.punctuation {
  color: #525252;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #2973b7;
}

.token.string {
  color: var(--theme-color, #155bd4);
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: var(--theme-color, #155bd4);
}

.token.keyword {
  color: #e96900;
}

.token.atrule,
.token.regex,
.token.statement {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

@media screen and (max-width: 1500px) {
  .markdown-section {
    margin: 0px;
  }
}
